<div class="mb-4 font-bold">Your posts:</div>
<div class="p-4 mb-8 bg-white neeto-ui-shadow-s rounded">
  <%# <% @tasks.each do |task| %> %>
  <h1><%= @post.title %></h1>

<p>
  <strong>Author:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @post.categories.pluck(:name).join(", ") %>
</p>

<hr>

<p>
  <%= @post.description %>
</p>
  <%# <% end %> %>
</div>
